
.t4s-top-collections.t4s-text-center {
	justify-content: center;
}
.t4s-top-collections.t4s-text-end {
	justify-content: flex-end;
}
.t4s-top-collections.t4s-border-none {
	border: none;
}
.t4s-top-collections.t4s-border-top {
	border-bottom: none;
}
.t4s-top-collections.t4s-border-bottom {
	border-top: none;
}
.t4s-top-list-collections {
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
}

.t4s-top-list-collections .t4s-cat-item a {
	font-size: var(--text-fs);
	font-weight: var(--text-fw);
	color: var(--text-cl);
	line-height: var(--text-lh);
	letter-spacing: var(--text-ls);
	display: flex;
    align-items: center;
    flex-direction: column;
	padding: 0 calc(var(--space-item)/2);
}
.t4s-top-list-collections .t4s-cat-item a span {
    display: inline-block;
    line-height: var(--text-lh);
    position: relative;
}
.t4s-top-list-collections .t4s-cat-item a span:after {
    width: 0;
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    -webkit-transition: .3s ease-in-out 0s;
    -moz-transition: .3s ease-in-out 0s;
    -ms-transition: .3s ease-in-out 0s;
    -o-transition: .3s ease-in-out 0s;
    transition: .3s ease-in-out 0s;
    border-bottom: 2px solid;
}
.t4s-top-list-collections .t4s-cat-item a:hover span::after, .t4s-top-list-collections .t4s-cat-item.t4s-current-cat a span::after{
    width: 100%;
}
.t4s-top-list-collections .t4s-cat-item:first-child a {
	padding-left: 0;
}
.t4s-top-list-collections .t4s-cat-item:last-child a {
	padding-right: 0;
}
.t4s-top-list-collections[style*="--text-lh:0px"] .t4s-cat-item a {
	line-height: 1;
}
.t4s-font-italic-true {
    font-style: italic !important;
}
.t4s-top-collections.t4s-nav-true{
	padding: 0 35px;
}
.t4s-top-list-collections.t4s-flickity-slider .flickityt4s-button,
.t4s-top-list-collections.t4s-flickity-slider .flickityt4s-button:hover{
    color: var(--text-cl);
}
.t4s-top-collections .t4s-top-list-collections .flickityt4s-prev-next-button.next {
	margin-right: 15px;
}
.t4s-top-collections .t4s-top-list-collections .flickityt4s-prev-next-button.previous {
	margin-left: 15px;
}
.t4s-top-list-collections.t4s-flicky-slider .flickityt4s-button {
    color: var(--text-cl);
    width: 34px;
    background: transparent;
    height: 34px;
    display: inline-block;
}
.t4s-top-list-collections .flickityt4s-prev-next-button .flickityt4s-button-icon {
    height: 14px!important;
}
.t4s-top-collections .t4s-top-list-collections .flickityt4s-prev-next-button.previous,
.t4s-top-collections .t4s-top-list-collections .flickityt4s-prev-next-button.next,
.t4s-top-collections .t4s-top-list-collections.t4s-flicky-slider:not(:hover) .flickityt4s-prev-next-button.previous,
.t4s-top-collections .t4s-top-list-collections.t4s-flicky-slider:not(:hover) .flickityt4s-prev-next-button.next,
.t4s-top-list-collections.t4s-flicky-slider:not(:hover) .flickityt4s-button {
	-webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translate(0) translateY(-50%);
}
.t4s-thumb-cl {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 12px;
}
.t4s-thumb-cl .t4s-placeholder-svg {
    border: none;
}
.t4s-thumb-cl {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 12px;
    border: 2px solid transparent;
}
.t4s-top-list-collections .t4s-cat-item:hover .t4s-thumb-cl, 
.t4s-top-list-collections .t4s-cat-item.t4s-current-cat .t4s-thumb-cl {
    border-color: #e8e8e8;
}
.t4s-cat-item:hover .t4s-thumb-cl img {
    transform: scale(1.05);
}
.t4s-thumb-cl img {
    transition: 0.3s;
}
@media(max-width: 767px) {
	.t4s-hidden-mobile-true {
		display: none;
	}
}
